---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ k8s_metallb_ip_pool_name }}
  namespace: metallb-system
spec:
  addresses:
  - {{ k8s_metallb_ip_pool }}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: {{ k8s_metallb_ip_pool_advertisement }}
  namespace: metallb-system
spec:
  ipAddressPools:
  - {{ k8s_metallb_ip_pool_name }}