{{ ansible_managed | comment }}

server {
{% if item.listen is defined %}
    listen {{ item.listen }};
{% endif %}
{% if item.custom_multiline is defined %}
{{ item.custom_multiline | indent( width = 4, first = true ) }}
{% endif %}
{% if item.custom_oneline is defined %}
{% for key, value in item.custom_oneline.items() %}
{{ key | indent( width = 4, first = true ) }} {{ value }};
{% endfor %}
{% endif %}
{% if item.proxy is defined and item.proxy.proxy_pass is defined %}
    proxy_pass {{ item.proxy.proxy_pass }};
{% endif %}
}

